/* component */
ul li{
    list-style: none;
    list-style: none;
    text-align: center;
    padding: 10px;
}
.active{
    border-bottom: 6px solid #F2994A;
    color: #F2994A;
    border-radius: 3px;
}

ul{
    display: flex;

}
